name: Build
on:
  merge_group:
  pull_request:
  push:
    branches:
      - master
      - release/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unittest:
    strategy:
      fail-fast: false
      matrix:
       # os: [ubuntu-latest, macos-latest, macos-14]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 40
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.7'
      - id: changed-files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
        with:
          files: |
            **/*.go
            *.mod
            *.sum
      - name: install rocksDB dependencies
        run: |
          if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            sudo apt-get update
            sudo apt-get install -y build-essential libsnappy-dev zlib1g-dev libbz2-dev libgflags-dev liblz4-dev libzstd-dev cmake
          else
            brew install snappy zlib bzip2 gflags
          fi
      - name: debug
        run: |
          find /usr/local -xdev -name "*ztd*"
      - name: build and install rocksdb
        run: |
          git clone https://github.com/facebook/rocksdb.git
          cd rocksdb
          git checkout v10.6.2
          mkdir build && cd build
          if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            cmake .. -DCMAKE_BUILD_TYPE=Release -DWITH_SNAPPY=ON -DWITH_LZ4=ON -DWITH_ZLIB=ON -DWITH_ZSTD=ON \
              -DCMAKE_CXX_FLAGS="-Wno-error=unused-but-set-variable"
            sudo make -j$(nproc)
            sudo make install
          else
            export PKG_CONFIG_PATH=/opt/homebrew/lib/pkgconfig
            cmake .. -DCMAKE_BUILD_TYPE=Release -DWITH_SNAPPY=ON -DWITH_LZ4=ON -DWITH_ZLIB=ON -DWITH_ZSTD=ON \
              -DCMAKE_CXX_FLAGS="-faligned-allocation -Wno-error=unused-but-set-variable" -DCMAKE_PREFIX_PATH=/opt/homebrew \
              -DCMAKE_EXE_LINKER_FLAGS="-L$(brew --prefix zstd)/lib"
            sudo make -j$(sysctl -n hw.ncpu)
            sudo make install
          fi
      - name: test & coverage report creation
        run: |
          make test
        if: steps.changed-files.outputs.any_changed == 'true'
      - uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238 # v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.txt,./memiavl/coverage.txt,./store/coverage.txt,./versiondb/coverage.txt
        if: steps.changed-files.outputs.any_changed == 'true'
